@import '../../../styles/scss/shared.scss';

h1 {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    font-family: 'Tektur', cursive;
    text-shadow: 10px 0 30px $primary-color;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0;
}

.container-carousel {
    display: block;
    height: 500px;
    width: 100%;
    padding: 2em;
}