@import '../../../styles/scss/shared.scss';

h1 {
    
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    font-family: 'Tektur', cursive;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 1rem 0;
}

.container-carousel {
    display: block;
    height: 500px;
    width: 50%;
    padding: 2em;
    margin: 0 auto;
}
// media queries
@media screen and (max-width: 768px) {
    .container-carousel {
        width: 100%;
    }
    .grid-container {
        grid-template-columns: 100%;
    }
}
