<div class="container-modal">
    <div class="card">
      <h2>Busca tu Juego Favorito</h2>
      <div class="container-input">
        <input
          type="text"
          #gameSearchInput
          placeholder="buscar juego"
          autocomplete="off"
        />
        <div class="keys">
          <div class="esc-key">Esc</div>
        </div>
      </div>
  
      <!-- List of Results -->
  
      <div class="results">
        <div *ngIf="games.length > 0; else empty">
          <app-mini-card
            *ngFor="let game of filteredGames"
            [game]="game"
          ></app-mini-card>
        </div>
        <ng-template #empty class="empty">
          <h5>no hay resultados</h5>
        </ng-template>
      </div>
    </div>
  </div>