@import '../../../styles/scss/shared.scss';

.separator {
    width: 100%;
    max-height: 22px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}