@import '../.././../styles/scss/shared.scss';

select {
    background-color: $primary-color;
    color: #fff;
    padding: 10pxpx;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 0;
    font-family: 'Tektur', sans-serif;
}