/* You can add global styles to this file, and also import other style files */
// importation of the font family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Tektur&family=Ubuntu&display=swap');

// importation of styles for angular notifier
@import "node_modules/angular-notifier/styles";

// imporation of the variables
@import './app/styles/scss/shared.scss';

html, * {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $light-color;
    background-color: $dark-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    background-color: $dark-color;
    color: $light-color;
}

button.neon {
    @include button-neon($primary-color);
}

button.glitch {
    @include button-glitch($primary-color);
}

span {
    @include span($primary-color);
}

p {
    background-color: transparent;
}